.board-container {
  display: block;
  grid-column: 5 / 9;
  grid-row: 1;
  text-align: center;
  width: 100%;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.letter {
  background-color: lightblue;
  border: 2px solid rgb(14, 115, 173);
  font-size: 55px;
  max-width: 100px;
  max-height: 100px;
  display: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.word-list-container {
  grid-column: 10 / 13;
  grid-row: 1 / 3;
  width: 40%;
}

.word-list-grid {
  display: grid;
  color: rgb(14, 115, 173);
  grid-template-rows: repeat(25, 1fr);
  grid-auto-columns: minmax(100px, auto);
  height: 500px;
  overflow: scroll;
  border: 2px solid rgb(14, 115, 173);
  background-color: #f7ae3e;
}

.word-list-title {
  grid-row: 1;
  grid-column: 1;
  background-color: #e67a00;
  color: white;
}

.word-list {
  margin: auto;
  display: inline;
  text-align: center;
  grid-row: 2;
  grid-column: 1 / 3;
}

.word-list-items {
  list-style: none;
  color: white;
}

.game-container-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.footer-container {
  grid-column: 5 / 9;
  grid-row: 2;
}

.boggle-timer {
  grid-column: 1 / 3;
  grid-row: 1;
  margin-left: 60%;
  margin-top: 40%;
  float: left;
  color: rgb(14, 115, 173);
}

.input-form {
  width: 75%;
  float: left;
}

.enter-button {
  background-color: #f7ae3e;
  color: white;
}

.enter-button:hover {
  background-color: #e67a00;
  color: white;
}

.start-button {
  background-color: #e67a00;
  color: white;
  border-color: #f7ae3e;
}

.start-button:hover {
  background-color: #f7ae3e;
  color: white;
}

.error-message {
  color: red;
}

.word-score-container {
  width: 25%;
  height: 35px;
  float: left;
  color: rgb(14, 115, 173);
  font-family: Righteous;
  font-size: 1.5em;
}

.start-button-div {
  grid-column: 2 / 4;
  grid-row: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.end-game-div {
  grid-column: 4 / 10;
  grid-row: 1;
  width: 100%;
  display: block;
  justify-content: center;
  text-align: center;
  background-color: white;
  margin-top: 75px;
  margin-bottom: 75px;
  padding-top: 75px;
  border: 2px solid black;
  box-shadow: 10px 10px 5px #888888;
}
