body {
  width: 100%;
  height: 100%;
}

.navbar-container {
  background-color: #f7ae3e;
  height: 100%;
  width: 100%;
}

.navbar-link {
  display: inline-block;
  padding: 12px;
  margin-right: 12px;
  text-decoration: none;
  color: white;
}

.boggle-header {
  float: left;
  font-family: "Righteous", cursive;
  font-size: 32px;
  padding: 0;
  margin-left: 10px;
}

.navbar-link:hover {
  text-decoration: none;
  color: white;
}

.navbar-active {
  background-color: #e67a00;
  text-decoration: none;
}
